</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= hospital.name %> || Profile
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style>
        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

        .popup {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
        }

        @media screen and (max-width: 600px) {
            .popup {
                width: 95%
            }
        }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .popup .close:hover {
            color: #06d85f;
        }

        .popup .content {
            max-height: 80%;
            overflow: auto;
        }

        .profile-header {
            transform: translateY(5rem);
        }


        body {
            background: black;
            background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(101, 96, 96));
            background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(101, 96, 96));
            min-height: 100vh;
        }
    </style>
</head>

<body>
    <form action="/logout/hospital">
        <input type="submit" value="LOGOUT">
    </form>
    <form action="/hospital">
        <input type="submit" value="DASHBOARD">
    </form>

    <div class="row py-5 px-4">
        <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 bg-dark">
                    <div class="media align-items-end profile-header">
                        <div class="profile mr-3"><a href="<%= hospital.picture %>" target="_blank"><img
                                    src="<%= hospital.picture %>" alt="<%= hospital.name %>" width="130"
                                    class="rounded mb-2 img-thumbnail"></a><a href="#"
                                class="btn btn-dark btn-sm btn-block">Profile Picture</a></div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">
                                <%= hospital.name %>
                            </h4>
                            <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i><a
                                    href="mailto: <%= hospital.email %>">
                                    <%= hospital.email %>
                                </a></p>
                            <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i><a
                                    href="tel: <%= hospital.phone %>">
                                    <%= hospital.phone %>
                                </a></p>
                        </div>
                    </div>
                </div>

                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <% if (hospital. liscenceApprove==true) { %>
                            <p><b>Status: </b>Approved</p>
                            <% } else { %>
                                <p><b>Status: </b>Pending</p>
                                <% } %>
                    </ul>
                </div>

                <div class="px-4 py-4">
                    <% const birth=hospital.dateOfEstablishment %>
                        <% const yob=birth.slice(0, 4) %>
                            <% const yobN=parseInt(yob, 10) %>
                                <% const date=new Date() %>
                                    <% const realDate=date.getFullYear() + '-' + (date.getMonth() + 1) + '-' +
                                        date.getDay() %>
                                        <% const realYear=realDate.slice(0, 4) %>
                                            <% const now=parseInt(realYear, 10) %>
                                                <% const age=now - yobN %>
                                                    <p><b>Email:</b> <a href="mailto: <%= hospital.email %>"
                                                            style="color: black;">
                                                            <%= hospital.email %>
                                                        </a></p>
                                                    <p><b>Phone Number:</b> <a href="tel: <%= hospital.phone %>"
                                                            style="color: black;">
                                                            <%= hospital.phone %>
                                                        </a></p>
                                                    <p><b>Number of Employees:</b>
                                                        <%= hospital.size %>
                                                    </p>
                                                    <p><b>Age:</b>
                                                        <%= age %>
                                                    </p>
                                                    <p><b>Address:</b>
                                                        <%= hospital.address %>
                                                    </p>
                                                    <a href="#"
                                                        class="btn btn-dark btn-sm btn-block">Profile Info</a>
                </div>

                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <p>
                            <%= msg %>
                        </p>
                        <h5 class="mb-0">Vital Documents</h5>
                    </div>
                    <div class="row">
                        <% const ext=hospital.liscence.slice(-4) %>
                            <% if (ext=='.jpg' || ext=='.png' || ext=='jpeg' ) { %>
                                <div class="col-lg-12 mb-2 pr-lg-1"><a href="<%= hospital.liscence %>"
                                        target="_blank"><img src="<%= hospital.liscence %>" alt="<%= hospital.name %>"
                                            class="img-fluid rounded shadow-sm"></a></div>
                                <% } else if (ext=='.pdf' || ext=='.doc' || ext=='.ppt' || ext=='docx' ) { %>
                                    <div class="col-lg-6 mb-2 pr-lg-1"><a href="<%= hospital.liscence %>"
                                            target="_blank"><img src="/images/static_img.png" alt="<%= hospital.name %>"
                                                class="img-fluid rounded shadow-sm"></a></div>
                                    <% } %>
                                        <a href="#" class="btn btn-dark btn-sm btn-block">Liscence
                                            Document</a>
                                        <!--  -->

                    </div>


                </div>
            </div><!-- End profile widget -->
            <!--  -->
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>